body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #000000;
  background-image: url(C:\Users\vinayyadav\Downloads\Netflix-Background.jpg);
  background-image: url('path-to-your-image.jpg'); /* Path to your background image */
  background-size: cover; /* Cover the entire header element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
}

img {
  
  height: 100px;
  width: 130px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
nav a {
  text-decoration: none;
  color: #fff;
}

.lang{
  height: 30px;
  width: 70px;
  border-radius: 5px;
  /* display: flex;
  justify-content: flex-end; */
  
  
}

/* .user{
  background-color: red;

  /* color: white;   
  width: 60px;
  border-radius: 5px;
} */

.hero {
  /* display: flex; */
  /* text-align: center; */
  /* justify-content: center; */
  padding: 100px 20px; 
  background-image: url("C:\Users\vinay yadav\Downloads\Netflix-Background.jpg");
  /* background-size: cover; */
  /* background-position: center; */
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 30px;
}

.hero button, .email {
  padding: 10px 20px;
  font-size: 18px;
  /* background-color: #e50914; */
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.h1{
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 100px 10px ; */
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: space-between; */

}

.content {
  padding: 20px;
}

.movie-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.movie-item {
  width: 150px;
  height: 200px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #141414;
}
